@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/type';
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/utilities';
@import 'node_modules/bootstrap/scss/buttons';
@import 'node_modules/bootstrap/scss/forms';
@import 'node_modules/bootstrap/scss/custom-forms';
@import 'node_modules/bootstrap/scss/input-group';
@import 'node_modules/bootstrap/scss/tables';
@import 'node_modules/bootstrap/scss/dropdown';
@import 'node_modules/bootstrap/scss/badge';
@import 'node_modules/bootstrap/scss/modal';
@import 'node_modules/bootstrap/scss/close';


.modal.show{
	display: block !important;
	background-color: rgba(black, 0.8);
}
.dropzone{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
body{
  background-image: url(assets/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
